rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /tarjetas/{document=**} {
      allow read, write: if true; // Cambia esto según tus necesidades de seguridad
    }
  }
}
